<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>description:</strong>
  <%= @product.description %>
</p>
<p>
  <strong>price:</strong>
  <%= @product.price %>
</p>
<p>
  <strong>quantity:</strong>
  <%= @product.quantity %>
</p>
